<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wen.foodmenuprinter" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".CreateMenuItemActivity"
            android:label="@string/title_activity_create_menu_item" >
        </activity>
        <activity
            android:name=".CategoryEntryActivity"
            android:label="@string/title_activity_category_entry"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".DeleteCategoryActivity"
            android:label="@string/title_activity_delete_category"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".CategoryListActivity"
            android:label="@string/title_category_list" >
        </activity>
        <activity
            android:name=".CategoryDetailActivity"
            android:label="@string/title_category_detail"
            android:parentActivityName=".CategoryListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wen.foodmenuprinter.CategoryListActivity" />
        </activity>
    </application>

</manifest>
